/* Gestion des images */
@media screen and (max-width: 600px) {
	.image-large {
		overflow: hidden;
		height: 0;
	}
	.image-medium {
		overflow: hidden;
		height: 0;
	}
}
@media screen and (min-width: 601px) and (max-width: 1300px) {
	.image-large {
		overflow: hidden;
		height: 0;
	}
	.image-small {
		overflow: hidden;
		height: 0;
	}
}
@media screen and (min-width: 1301px) {
	.image-medium {
		overflow: hidden;
		height: 0;
	}
	.image-small {
		overflow: hidden;
		height: 0;
	}
}

/* Gestion du body */
@media screen and (min-width: 992px) {
	#connexion {
				right: 0;
		height: 70%;
	}
}
@media screen and (max-width: 650px) {
	#footerbox {
		flex-direction: column;
	}
}

/* Design */
 #body {
	
	padding: 0px;
	
} 

.article {
	margin-bottom: 30px;
	text-align: left;
	color: white;
	font-size: 16px;
	
}

.article>h3, .article>div>h3 {
	color: #D39D2F;
	font-size: 30px;
	text-align: center;
	margin-top : 25px;
	margin-bottom: 15px;
}

#connexion {
	display: flex;
	align-items: center;
}

#firstrow {
	height: 65vh;
	overflow-y: scroll;
	padding: 0px;
	border-bottom : solid 2px #D39D2F;
	margin-bottom: 30px;
}

#secondrow {
	color: white;
	margin-bottom: 30px;

}

#bigrow {
	background: linear-gradient(to bottom right, #313131, #004457);
}

#colart {
	color: white;
}

#forum {
	text-align: center;
	border-right : solid 2px #D39D2F;
	align-items: center;
}

#agenda {
	text-align: center;
	align-items: center;
}

#main {
	padding: 0px;
}