@font-face {
	font-family: 'OpenSans';
	src: url('../_css/fonts/OpenSans-Regular.ttf');
}

#formulaire{
	margin-top: 7vh;
	margin-bottom: 12vh;
}


#formulaire>h2{
	font-family: 'OpenSans';

}

#msg_err>h2{
	font-family: 'OpenSans';
	font-size: 20px;
	text-align : center;
	color : red;
}

#abonne{
	margin-bottom: 5vh;
}

.form-inscription-heading{
	margin-bottom: 10px;
}

.form-control{
	margin-bottom: 10px;
}