/* Polices */
@font-face {
	font-family: 'OpenSansSemibold';
	src: url('fonts/OpenSans-Semibold.ttf');
}

@font-face {
	font-family: 'OpenSansItalic';
	src: url('fonts/OpenSans-Italic.ttf');
}

@font-face {
	font-family: 'OpenSans';
	src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'RobotoSlab';
	src: url('fonts/RobotoSlab-Regular.ttf');
}

@font-face {
	font-family: 'RobotoSlabLight';
	src: url('fonts/RobotoSlab-Light.ttf');
}

/* Gestion du header */
@media screen and (max-width: 767px) {
	.title {
		position: fixed;
		visibility: hidden;
	}
	.logo {
		position: fixed;
		visibility: hidden;
	}
	.logo-center {
		position: relative;
	}
}
@media screen and (min-width: 768px) {
	.logo-center {
		position: fixed;
		visibility: hidden;
	}
}

/* Design */
body {
	font-family: 'OpenSans';
}
#header {
	background: linear-gradient(to top left, #313131, #004457);
	color: #D39D2F;
}
#header>.row {
	padding: 10px;
}
.navbar-nav {
	margin: auto;
}
.nav-item:hover {
	background: #D39D2F !important;
	transition: all 0.3s ease-out;
	color: black !important;
}
.navbar-toggler {
	margin-bottom: 10px;
	background-color: #D39D2F !important;
	border: none;
	border-radius: 0px;
}
.nav-item {
	display: inline-block;
	float: none;
	vertical-align: top;
	text-align: center;
	color: #D39D2F !important;
	font-size: 18px;
	height: 50px;
	line-height: 34px;
	padding-right: 20px !important;
	padding-left: 20px !important;
}
.nav-item.active {
	background-color: #D39D2F !important;
	color: black !important;
}
h1 {
	font-family: 'OpenSansSemibold';
	font-size: 50px;
}
h2 {
	font-family: 'OpenSansItalic';
}
h3 {
	font-family: 'RobotoSlab';
}
h4 {
	text-align: center;
}

#footer {
	padding: 0;
}
#footer>*>*>h3 {
	color: #D39D2F;
}
#logos>a {
	margin-left: 5px;
	margin-right: 5px;
}
#footerbox {
	color: white;
	padding: 0%;
	padding-top: 30px;
	padding-bottom: 80px;
	background-color: #222222;
	text-align: center;
	display: flex;
	justify-content: space-around;
}